doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
  
  body
    block content
  script(src='/libs/jquery/dist/jquery.min')