doctype html
html(ng-app="admin")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='./stylesheets/style.css')
  body(ng-controller="adminController")
      div.container
        block content
        include ./partials/fixednav.jade

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='./libs/angular/angular.js')
  script(src='./app/admin/admin.module.js')
  script(src='./app/admin/admin.controller.js')
  script(src='./app/admin/admin.service.js')
  