//- navigation data - maybe extend with database
-var navLinks = { 'Home': '/', 'Users': '/users', 'Blank': '/', 'Blank': '/'};
 
- var activeLink = 'Home';
 
 .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
                nav(role="navigation" aria-label="Primary")
                        ul.nav.navbar-nav
    
                                //- iterator
                                each val, key in navLinks
                                  li.nav__link

                                    //- check for acive link and add class
                                    if activeLink === key
                                        - activeLink = "nav__link-active"
                                    else
                                        - activeLink = ""

                                    //- populate links
                                    a(href=val class="#{activeLink}")= key
                                    
                        ul.nav.navbar-nav.navbar-right
                                    if (!user)
                                      li.nav__link
                                        a( href="/login" ) Log in
                                      li.nav__link
                                        a( href="/register" ) Register
                                    if (user)
                                      li.nav__link
                                        a(href="/profile") #{user.username}
                                      li.nav__link
                                        a(href="/logout") Logout